.about-container{
    @include flexCenter();
    height: 100vh;
    background-image: url($aboutBG);
    background-position: left;
    background-size: 115%;
    background-repeat: no-repeat;


    .about-content{
       //background: linear-gradient(-80deg, rgba(36, 36, 36, 0.9) 49.2%, rgba(54, 54, 54, 0.8) 49.2%, rgba(54, 54, 54, 0.8) 100%);
        background: linear-gradient(-80deg, rgba(54, 54, 54, 0.8) 49.2%, rgba(36, 36, 36, 0.9) 49.2%, rgba(36, 36, 36, 0.9) 100%);
        width: 100%;
        height: 100vh;
        @include flexCenter();
        
        .aboutleft-container{
            @include flexCenter();
            flex-direction: column;
            width: 50%;            
            height: 100vh;
           // background-color:rgba(36, 36, 36, 0.9);
           
            .profilePic-container{
                @include flexCenter();
                margin-bottom: 20px;
                width: 250px;
                height: 250px;
                img{    
                    filter: contrast(1.2) brightness(1);
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                }
            }
            
            .aboutTittle-container{
                @include flexCenter();
                flex-direction: column;
                margin-bottom: 24px;
                h3{
                    font-size: 30px;
                    margin-bottom: 10px;
                    color: white;
                }
                h4{
                    text-align: center;
                    color: white;
                    font-size: 20px;
                    border-radius: 0.2em;
                    width: 250px;
                    height: 30px;
                    background-color: $customBlueColor;
                }
            }

            .socials-container{
                @include flexCenter();
                width: 250px;
                height:42px;
                //background-color: red;
                margin-bottom: 10px;
                
                a{
                    margin:10px;
                }

                img{
                  filter: brightness(0) invert(1);
                 width: 35px;
                 height: 35px;
                }
                

            }

            .summary-container{
                @include flexCenter();
                flex-direction: column;
                h4{
                    font-size: 20px;
                    color: white;
                    margin-bottom: 10px;
                }
                p{
                    padding-left: 90px;
                    padding-right: 90px;
                    color: white;
                    text-align: center;
                }

            }

            
        }
        .aboutright-container{
            @include flexCenter();
            flex-direction: column;
            width: 50%;
            height: 100vh;
          //  background-color: rgba(54, 54, 54, 0.8);
          h2{
            margin-bottom: 20px;
            color: white;
          }

          .about-stacks-container, .about-stacks-container2, .about-stacks-container3 {
            @include flexCenter();            
            flex-direction: row;
            
            div{                
                @include flexCenter();
                width: 64px;
                height: 70px;
                margin: 34px;
                flex-direction: column;
                img{
                    filter: brightness(0) invert(1);
                    height: 40px;
                    width: 40px;
                }
                h4{
                    margin-top: 5px;
                    font-size: 20px;
                    font-weight: 400;
                    color: white;
                }
                p{
                    color: white;
                    font-size: 11px;
                }
            
            }
        }

        }
    }




}

