.projects-container{
    @include flexCenter();
    height: 120vh;
    background-image: url($aboutBG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //background-color: rgba(36, 36, 36, 0.9);
    flex-direction: column;

    .project-tittle-container{
        @include flexCenter();
        height: 10vh;
        width: 100%;
        left: 0px;
        top: 222vh;
        align-items: flex-start;
        padding-left: 50px;
        flex-direction: column;
        //background-color: red;
        
        h2{
            color: white;
        }
    }

    .projects-content{
        @include flexCenter();
        flex-direction: column;
        width: 100%;
        height: 120vh;
        background: linear-gradient(-8.5deg, rgba(54, 54, 54, 0.9) 89.9%, rgba(33, 90, 177, 0.9) 89.9%, rgba(33, 90, 177, 0.9) 100%);
        //background: linear-gradient(-10deg, rgba(54, 54, 54, 1) 86.9%, rgba(33, 90, 177, 0.9) 86.9%, rgba(33, 90, 177, 0.9) 100%);

      
        .projects-all-container{
            @include flexCenter();
            width: 100%;
            height: 90vh;
            flex-direction: row;
            

            .project1{
                background-color: rgba(33, 90, 177, 0.9);
                padding: 10px;
                margin-left: 10px;
                margin-right: 10px;
                padding-top: 0;
                img{
                    width: 280px;
                    height:180px;
                   // background-color:white;
                }
                @include flexCenter();
                flex-direction: column;
                height: 450px;
                width: 300px;                
                justify-content: space-around;
                border-radius: 0.3em;
                color: white;
                h4{
                    font-size: 25px;
                }

                .data-container{
                    font-size: 15px;
                }

                p{
                    text-align:center;
                    font-size: 16px;
                }
                .project-buttons{
                    @include flexCenter();
                    flex-direction: row;
                    
                    a{
                        button{
                            @extend .home-button; 
                            width: 130px;
                            height: 40px;
                            color: white;
                            border: 0;
                            font-size: 20px;
                            padding-top: 0;
                            padding-bottom: 4px;
                            cursor: pointer;
                            
                        }
                        margin: 5px;
                        border-radius: 0.3em;
                        color: white;
                        border: 2px solid;
                        transition: 0.3s;
                    }:hover{
                        transition: 0.3s;
                        background-color: white;
                        color: rgb(33, 90, 177);
                        border-color: white;
                        font-weight: 300;
                        
                    }

                }
            }

        }

        .more-projects{
            @include flexCenter();
            height: 20vh;
            justify-content: flex-start;
            flex-direction: column;
            a{
            font-size: 25px;
            color: white;
            }
        }
       
    }

}