.button-nav1{
    width: 100px;
    height: 40px;
    border-radius: 1em;
    background-color: white;
    border: 0;
    font-size: 15px;
    font-weight: 500;  
}



@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
