//images
$homeBG: "https://wallpaperaccess.com/full/1691700.jpg";
$aboutBG: "https://w0.peakpx.com/wallpaper/270/1010/HD-wallpaper-programming-ultra-computers-hardware-creative-laptop-design-designer-working-technology-computer-office-code-html-hacker-notebook-programming-typing-software-electronics-workspace.jpg";

//colors
$grayWhiteColor: rgb(230, 230, 230);
$customBlueColor: rgba(37, 99, 192, 0.9);


//Measures Presets
@mixin flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}


//Buttons
.button-nav1{
    width: 100px;
    height: 40px;
    border-radius: 1em;
    background-color: white;
    border: 0;
    font-size: 15px;
    font-weight: 500;  
}
.home-button{
        width: 200px;
        height: 60px;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 25px;
        font-weight: 100;
        border-radius: 0.2em;
        background-color: rgba($color: #000000, $alpha: 0);       
                     
}





