@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import './_Variables.module.scss';
@import './_Navbar.module.scss';
@import './_Home.module.scss';
@import './_About.module.scss';
@import './_Projects.module.scss';
@import './_Contact.module.scss';
@import './_Footer.module.scss';




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


